<div class="intro">
    {{ $cdn_url := .Scratch.Get "cdn_url" }}
    {{ with .Site.Params.avatar}}
    {{ $avatar := .}}
    <div class="avatar">
        <a href="/about"> <img src="{{ (printf "%s%s" $cdn_url $avatar)}}"> </a>
    </div>
    {{ end }}
    {{ if .Site.Params.subtitle}}
    <h2 class="description">
        Patryk Węgrzyn (@pwegrzyn)
        <p>Software Engineer | Computer Science Student</p>
        <p>Cloud, Machine Learning, Cryptoeconomics, Game Dev, Physics</p>
    </h2>
    {{ end }}
    <div class="social-links">
      {{ partial "social.html" . }}
    </div>
</div>